.header__lang-link{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 18px 18px 0 auto;
  display: flex;
  color: #FFFFFF;
  text-align: right;
  text-decoration: underline;
}
.header__lang-link:last-child{
  margin: 18px 0 0 0;
  text-decoration: none;
}
