.header__lang-link{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: calc(28/24);
  margin: 18px 18px 0 0;
  display: flex;
  color: #FFFFFF;
  text-align: right;
  text-decoration: underline;
}
.header__lang-link:last-child{
  margin: 18px 0 0 0;
  text-decoration: none;
}

@media screen and (max-width: 320px)
{
  .header__lang-link
  {
    font-size: 18px;
    line-height: calc(20/18);
  }
}
