.place__link
{
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22/18);

  text-decoration-line: underline;

  color: #FFFFFF;
}

.place__link:hover
{
  cursor: pointer;
}
.place__link:visited
{
  color: #ffff;
  text-decoration: none;
}
.place__link:active
{
  color: #ffff;
  text-decoration: none;
}
