@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);

.place
{
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 1fr;
  margin: 0 auto 0 auto;
  max-width: 984px;
  column-gap: 40px;
  row-gap: 48px;
  box-sizing: border-box;
  width: 100%;
}





@media screen and (max-width: 1024px)
{
  .place
  {
    grid-template-columns: 440px 456px;
    max-width: 928px;
    column-gap: 32px;
  }
}
@media screen and (max-width: 768px)
{
  .place
  {
    grid-template-columns: 340px 352px;
    grid-template-rows: min-content;
    max-width: 720px;
    column-gap: 28px;

  }
}
@media screen and (max-width: 320px)
{
  .place{
    grid-template-columns: 320px;
    row-gap: 32px;
  }
}
