@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);

.footer{
  margin: 0 auto 24px auto;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
}
@media screen and (max-width: 1280px)
{
  .footer{
    margin: 0 48px 24px 48px;
  }
}

@media screen and (max-width: 768px)
{
  .footer{
    margin: 0 24px 24px 24px;
  }
}
@media screen and (max-width:660px)
{
  .footer{
    max-width: calc(660px/2);

    margin: 0 118px 24px 16px;
    flex-direction: column;
  }
}
@media screen and (max-width:425px)
{
  .footer{
    max-width: calc(425px/2);

    flex-direction: column;
  }
}
@media screen and (max-width:320px)
{
  .footer{
    max-width: 186px;

    flex-direction: column;
  }
}
